/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: 'Raleway';
    src: url();
} */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

circle[stroke="#000"] {
   stroke-width: 0!important;
}